@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineOrderingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineOrderingSystem.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <header>
        <div class="navbar"> 
            <div class="desktop-navbar">
                <!-- LEFT -->
                <div class="left-section">
                    <a href="/" class="logo-with-image">
                        <img src="/logo.png" alt="Logo" class="logo-image">
                        <div class="logo">LAMA</div>
                    </a>
                    <div class="nav-links">
                        <a asp-area="" asp-controller="Home" asp-action="HomePage">HOME</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-area="" asp-controller="Categories" asp-action="Create">Categories</a>
                            <a asp-area="" asp-controller="Products" asp-action="Create">Product</a>
                            <a asp-area="" asp-controller="Carts" asp-action="Create">Carts</a>
                            <a asp-area="" asp-controller="Orders" asp-action="Create">Orders</a>
                            <a asp-area="" asp-controller="Payments" asp-action="Create">Payments</a>
                        }
                    </div>
                </div>
                <!-- RIGHT -->
                <div class="right-section">
                    <div class="search-bar">
                        <form class="search-form" onsubmit="handleSearch(event)">
                            <input type="text"
                                   name="name"
                                   placeholder="Search"
                                   class="search-input" />
                            <button class="search-button">
                                <img src="~/images/search.png" alt="Search" class="search-icon">
                            </button>
                        </form>
                    </div>
                    <div class="nav-icons">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div>
                                <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="nav-item">
                                    <button type="submit">Logout</button>
                                </form>
                            </div>
                        }else
                        {
                            <div class="singin">
                                <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="pageContainer">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - OnlineOrderingSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
