 @model Category
@{
    ViewData["Title"] = "HomePage";
}


<div>
    <div class="">
        <div id="cartModalContainer"></div>

        <partial name="../Categories/Index" model="ViewBag.Categories" />
    </div>
</div>
