@model IEnumerable<OnlineOrderingSystem.Models.User>

@{
    Layout = null;
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    var afToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}
<style>
    .UserContainer {
        position: absolute;
        padding: 1rem;
        border-radius: 0.375rem;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        background-color: white;
        right: 0;
        top: -1px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        z-index: 20;
    }

    .user-dropdown-ctrl-off {
        display: none;
    }

    .inner {
        padding: 10px;
        background-color: #f9f9f9;
    }

    .user-menu-info {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .avatar img {
        border-radius: 50%;
        margin-right: 10px;
    }

    .name span {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
    }

    .name i {
        display: block;
        font-size: 0.9em;
        color: #777;
    }

    .func {
        margin-left: auto;
    }

    .user-menu ul {
        list-style: none;
        padding: 0;
        margin: 0 0 10px 0;
    }

    .user-menu li {
        border-bottom: 1px solid #eee;
    }

        .user-menu li a {
            display: block;
            padding: 10px;
            color: #333;
            text-decoration: none;
            transition: background-color 0.3s;
        }

            .user-menu li a:hover {
                background-color: #eee;
            }

            .user-menu li a span {
                margin-left: 10px;
            }

</style>

<div class="UserContainer" id="User-container">
    <div class="user-dropdown-ctrl-off"></div>
    <div class="inner">
        <div class="user-menu-info">
            <div class="avatar">
                <img width="36" height="36" class="lazyloaded" src="@ViewBag.Avatar" alt="Maen22">
            </div>
            <div class="name">
                <span>@ViewBag.UserName</span>
                <i>@ViewBag.Email</i>
            </div>
            <div class="func">
                <div class="user-dropdown-ctrl-off close btw"><span icon-only="close"></span></div>
            </div>
        </div>
        <div class="user-menu">
            <ul>
                <li><a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="MyAccount"><span>My Account</span></a></li>
                <li><a class="nav-item nav-link" asp-area="" asp-controller="Orders" asp-action="Index"><span>My Orders</span></a></li>
                <li><a href="" icon="request_quote"><span>Top Up</span></a></li>
                <li><a href="" icon="credit_card" ga-data="2013" ga-data-playload="My Cards"><span>My Cards</span></a></li>
                <li><a href="" icon="account_balance" ga-data="2014" ga-data-playload="Credit History"><span>Transaction History</span></a></li>
                <li><a href="" icon="local_activity" ga-data="0000" ga-data-playload="My Coupons"><span>My Coupons</span></a></li>
                <li><a href="" icon="stars" target="_blank" ga-data="2014" ga-data-playload="My STAR"><span>My STAR</span></a></li>
                <li><a href="" icon="favorite_outline" ga-data="2012" ga-data-playload="My Favourite"><span>My Favorite</span></a></li>
                <li><a href="" icon="notifications" data-msg-counter="2" ga-data="2015" ga-data-playload="Notifications"><span>Notifications</span></a></li>
             </ul> 
        </div>
    </div>
</div>