/* _content/OnlineOrderingSystem/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-mxfanabt2z] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-mxfanabt2z] {
    color: #0077cc;
}

.btn-primary[b-mxfanabt2z] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-mxfanabt2z], .nav-pills .show > .nav-link[b-mxfanabt2z] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-mxfanabt2z] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-mxfanabt2z] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-mxfanabt2z] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-mxfanabt2z] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-mxfanabt2z] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.pageContainer[b-mxfanabt2z] {
    max-width: 1366px;
    height: calc(100vh - 200px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* ------------------------------- */
nav[b-mxfanabt2z] {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    font-size: 20px;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    nav .left[b-mxfanabt2z] {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        nav .left .logo img[b-mxfanabt2z] {
            width: 100%;
            height: auto;
        }

        nav .left .userInfo[b-mxfanabt2z] {
            display: flex;
            align-items: center;
        }

            nav .left .userInfo img[b-mxfanabt2z] {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-left: 10px;
            }

    nav .right[b-mxfanabt2z] {
        margin-left: 20px;
    }

        nav .right .singin[b-mxfanabt2z] {
            display: flex;
            margin: 10px;
            gap: 20px;
            padding: 20px;
        }
        nav .right .buttons[b-mxfanabt2z] {
            display: flex;
            margin: 10px;
            gap: 20px;
            padding: 20px;
            flex-direction:row-reverse;
        }
        nav .right a[b-mxfanabt2z],
        nav .right button[b-mxfanabt2z] {
            text-decoration: none;
            color: #000000;
            border: none;
            background: none;
            cursor: pointer;
        }

        /* Style for the logout button */
        nav .right button[b-mxfanabt2z] {
            font-family: monospace;
            background-color: #000000;
            color: #ffffff;
            border-radius: 8px;
            padding: 10px 20px;
            transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
        }

            nav .right button:hover[b-mxfanabt2z] {
                background-color: #8e8e8e;
                box-shadow: 0 0 0 5px #3b82f65f;
                color: #fff;
            }

/* Media query for smaller screens */
@media (max-width: 600px) {
    nav .left .logo[b-mxfanabt2z] {
        display: none;
    }
}
