@model OnlineOrderingSystem.Models.CartItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>CartItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateCartItem" id="editCartItemForm">
            @Html.AntiForgeryToken()  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Quantity</label>
                <input asp-for="Quantity" class="form-control quantityInput" data-val="range" data-val-range-excludes="false" data-val-range-from="1" data-val-range-to="100" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $(".quantityInput").change(function () {
                var quantity = $(this).val();
                var cartItemId = $("#Id").val();

                $.ajax({
                    url: '/CartItems/UpdateCartItem',
                    type: 'POST',
                    data: { id: cartItemId, quantity: quantity },
                    success: function (data) {
                        console.log(data.message); 
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error("Error updating cart item:", errorThrown);
                    }
                });
            });
        });
    </script>
}

